@import "settings";

@import "foundation";

.frame { padding: 0; height: 400px; }
.frame .slidee { margin: 0; padding: 1em; }

.scrollbar {
  width: 10px;
  height: 400px;
  position: absolute;
  right: 10px;
  width: 2px;
  background: #ccc;
  line-height: 0;
}
.scrollbar .handle {
    width: 100%;
    height: 100px; /* overriden if dynamicHandle: 1 */
    background: #222;
}

.footer-bottom {
  background-color: #333;
  padding: 24px 0 10px;
  p.copyright {
    color: white;
  }
  ul.home-social {

  }
  ul.links {
    line-height: 1.6;
    font-size: 1rem;
    list-style-position: outside;
    margin: 0;
    display: inline-block;
    li {
      display: block;
      float: left;
      margin-left: 6px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.77778rem;
    }
  }
}