<div class="footer-bottom">
  <div class="row">
    <ul class="medium-4 medium-4 push-8 columns home-social small-block-grid-4 medium-block-grid-6">
        <li><i class="fa fa-blank"></i></li>
        <li><a target="_blank" href="//github.com/elliottjro"><i class="fa fa-github-square"></i></a></li>
        <li><a target="_blank" href="//ca.linkedin.com/in/elliottjro"><i class="fa fa-linkedin-square"></i></a></li>
        <li><i class="fa fa-blank"></i></li>
    </ul>
    <div class="medium-8 medium-8 pull-4 columns copyright">
      <p class="copyright">© 2015 Elliott Ro</p>
    </div>
  </div>
</div>