<div class="row">
  <div class="large-12 columns">
    <h3>Projects - Create</h3>
    <hr>
  </div>
</div>

<div class="row medium-uncollapse large-collapse">
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>Project Name
                    {{input}}
                </label>
            </div>
        </div>
    </form>
</div>