<div class="row">
  <div class="large-12 columns">
    <h3>Projects</h3>
    <hr>
  </div>
</div>

<div class="row medium-uncollapse large-collapse">
    <div class="large-12 medium-12 small-10 large-centered columns">
        <ul class="small-block-grid-3 medium-block-grid-2">
        {{#each projectItem in model}}
        <li class="effect-sadie">
            {{#link-to "projects.projectItem" projectItem.id class="project-wrap"}}
                <img {{bind-attr src=projectItem.image}}>
                <figcaption>
                    <h2>{{projectItem.name}}</h2>
                    <p>{{projectItem.tech}}</p>
                </figcaption>
            {{/link-to}}
        </li>
        {{/each}}
        </ul>
    </div>
</div>