<div class="row">
  <div class="large-12 columns">
    <h3>
      {{#link-to "projects" style="display: inline-block"}}
        <i class="fa fa-arrow-left"></i>
      {{/link-to}}
      {{model.name}}
    </h3>
    <hr>
  </div>
</div>

<div class="row">
    <div class="medium-4 small-10 medium-uncentered small-centered columns">
        <img {{bind-attr src=model.image}}>
    </div>
    <div class="medium-6 small-10 medium-uncentered small-centered columns">
        <label>{{model.tech}}</label>
    </div>
</div>