
<section class="main-section">
  <div class="row">
    <div class="large-12 columns">
        {{#link-to "blog.post" 'sample-blog-post'}}
            go to blog post
        {{/link-to}}
    </div>
  </div>
</section>
