<div class="sticky contain-to-grid">
{{!--   <div class="inner-wrap"> --}}
    <nav class="top-bar " data-topbar role="navigation">
      <section class="left-small show-for-small-up">
        <a class="left-off-canvas-toggle menu-icon" aria-expanded="false"><span></span></a>
      </section>

      <section class="right top-bar-section">
        <h1 class="title">Foundation</h1>
      </section>

    </nav>
</div>
{{!--     <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Foundation</label></li>
        {{#each linkItem in navigationLinks}}
          <li>
            {{#link-to linkItem.route}}
              {{linkItem.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </aside> --}}

    {{outlet}}

    {{outlet "footer"}}

{{!--     <a class="exit-off-canvas"></a> --}}

{{!--   </div> --}}
