<div class="row">
  <div class="medium-12 small-centered columns">
    <h3>Contact</h3>

    <hr>
  </div>

  <div class="medium-2 medium-push-9 end columns contact-section">
    <div class="section">
      <h5>Email</h5>
      <label>me@elliottjro.com</label>
    </div>
    <hr>
    <div class="section">
      <h5> Tel </h5>
      <label> +1 778-996-0205</label>
    </div>
    <hr>
  </div>  

  <div class="medium-7 medium-pull-4 columns">
    <div class="large-3 medium-3 small-4 small-centered medium-uncentered columns avatar">
      <img src="/img/myAvatar.jpg">
    </div>
    <div class="large-9 medium-9 small-12 columns end">
      <p>
        This contract form is not working at the moment (it is just for show), please use the
        contact info provided on the right
      </p>
    </div>

    <form class="medium-12 columns contact-form end">

      <label class="medium-8 end"> <strong> Name </strong>
        {{input type="text"}}
      </label>

      <label class="medium-8 end"> <strong> Email </strong> 
        {{input type="email"}}
      </label>
      
      <label class="medium-8 end"> <strong> Text </strong>
        {{textarea
          style="resize:none" 
          class="no-resize"
          col="80" 
          rows="10"  
          placeholder="Enter Text Here" 
        }}
      </label>

      <button class="button secondary"> Send </button>
    </form>
  </div>

</div>