<div class="row">
  <div class="medium-12 columns">
    <h3>Contact</h3>

    <hr>
  </div>

  <div class="medium-8 columns">
    <div class="medium-2 columns">
      <img src="/img/myAvatar.jpg">
    </div>
    <div class="medium-10 columns end">
      <p>
        Feel free to contact me for any freelance work and I will
        get back to you as soon as I can
      </p>
    </div>

    <form class="medium-12 columns contact-form end">

      <label class="medium-8 end"> <strong> Name </strong>
        {{input type="text"}}
      </label>

      <label class="medium-8 end"> <strong> Email </strong> 
        {{input type="email"}}
      </label>
      
      <label class="medium-8 end"> <strong> Text </strong>
        {{textarea
          style="resize:none" 
          class="no-resize"
          col="80" 
          rows="10"  
          placeholder="Enter Text Here" 
        }}
      </label>

      <button class="button secondary"> Send </button>
    </form>
  </div>

  <div class="medium-3 medium-offset-1 columns contact-section">
    <div class="section">
      <h5>Email</h5>
      <label>me@elliottjro.com</label>
    </div>
    <hr>
    <div class="section">
      <h5> Tel </h5>
      <label> +1 778-996-0205</label>
    </div>
    <hr>
  </div>
</div>